<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
    <insert id="insert" parameterType="Answer">
        INSERT INTO answer (answer_content, answer_write_date) VALUES (#{answerContent}, #{answerWriteDate})
    </insert>
    <delete id="delete" parameterType="Answer">
        DELETE FROM answer WHERE question_id=#{questionId}
    </delete>
    <select id="selectByAnswerContent" parameterType="Answer">
        SELECT * FROM answer WHERE answer_content LIKE CONCAT('%', #{answerContent}, '%')
    </select>
</mapper>
