<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cf.naechelin.mapper.LineMapper">
    <insert id="insert" parameterType="Line">
        INSERT INTO line VALUES(DEFAULT, #{memberId}, DEFAULT)
    </insert>
    <delete id="delete" parameterType="Line">
        DELETE FROM line WHERE TIMESTAMPDIFF(HOUR, lineCreateTime, CURRENT_TIMESTAMP()) <![CDATA[ < ]]> AND memberId = #{memberId}
    </delete>
    <select id="view" parameterType="Line" resultType="Line">
        SELECT * FROM line WHERE memberId = #{memberId}
    </select>
    <select id="list" parameterType="Query" resultType="Line">
        SELECT * FROM line
    </select>
</mapper>
