<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cf.naechelin.mapper.MemberMapper">
    <select id="insert" parameterType="Member">
        INSERT INTO member (member_email, member_pass, member_nick, member_birth, member_gender, member_type, member_reg_date, member_tel)
        VALUES (#{memberEmail}, #{memberPass}, #{memberNick}, #{memberBirth}, #{memberGender}, #{memberType}, CURRENT_TIMESTAMP, #{memberTel})
    </select>
    <update id="update" parameterType="Member">
        UPDATE member SET member_pass=PASSWORD(#{memberPass}), member_nick=#{memberNick}, member_birth=#{memberBirth}, member_gender=#{memberGender}, member_type=#{memberType}, member_tel=#{memberTel}
        WHERE member_email=#{memberEmail}
    </update>
    <update id="delete" parameterType="Member">
        UPDATE member SET member_end_date=CURRENT_TIMESTAMP WHERE member_email=#{memberEmail}
    </update>
    <select id="selectByMemberEmail" parameterType="java.lang.String" resultType="Member">
        SELECT * FROM member WHERE member_email=#{memberEmail}
    </select>
    <select id="selectByMemberNick" parameterType="java.lang.String" resultType="Member">
        SELECT * FROM member WHERE member_nick=#{memberNick}
    </select>
    <select id="list" resultType="Member">
        SELECT * FROM member ORDER BY member_email
    </select>
</mapper>
