<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
    <insert id="insert" parameterType="Question">
        INSERT INTO question (question_title, question_content, question_wirte_date)
        VALUES (#{questionTitle}, #{questionContent}, CURRENT_TIMESTAMP)
    </insert>
    <update id="update" parameterType="Question">
        UPDATE question SET question_title=#{questionTitle}, question_content=#{questionContent}
        WHERE question_id=#{questionId}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM question WHERE question_id=#{questionId}
    </delete>
    <select id="selectByQuestionTitle" parameterType="java.lang.String">
        SELECT * FROM question WHERE question_title=#{questionTitle}
    </select>
    <select id="selectByQuestionContent" parameterType="java.lang.String">
        SELECT * FROM question WHERE question_content LIKE CONCAT('%', #{questionContent}, '%')
    </select>
    <select id="list">
        SELECT * FROM question ORDER BY question_id
    </select>
</mapper>
